<main>
    <div id="header">
        <h1>Ranking</h1>
    </div>
    <div id="leaderboard">
        <div class="ribbon-I"></div>
        <div class="ribbon-II"></div>
        <div class="ribbon-III"></div>
        <table *ngIf="allWiners.length > 0">
            <tr *ngFor="let row of allWiners; let i = index" [ngClass]="(i < 3)? 'win' : ''">
                <td class="number">{{i+1}}</td>
                <td class="name">{{row?.name}} <div style="font-size: 10px;">{{row?.email}}</div>
                </td>
                <td class="name">{{row?.section}}</td>
                <td class="points">
                    {{row?.hitCount}}
                    <img *ngIf="(i < 3)" class="gold-medal"
                        [src]="(i === 0)? '../../assets/Image/1st-prize_11173647.png': (i === 1)? '../../assets/Image/2nd-place_11173656.png': (i === 2)? '../../assets/Image/3rd-place_11173665.png':''"
                        alt="gold medal" />
                </td>
            </tr>
        </table>
        <div id="buttons">
            <button (click)="isExit()" class="exit">Exit</button>
        </div>
    </div>
</main>