<main>
    <div id="header">
        <h1>Ranking</h1>
    </div>
    <h3 *ngIf="allWiners.length <= 0">No one has won yet. Try to hack and be the first....!</h3>
    <table *ngIf="allWiners.length > 0">
        <thead>
            <tr class="win-iv">
            <th class="number-th"></th>
            <th class="name-th">Name</th>
            <th class="name-th">Branch</th>
            <th class="number-th">Enrollment No.</th>
            <th class="points-th">Attempts</th>
            </tr>
        </thead>
    </table>
    <br>
    <div *ngIf="allWiners.length > 0" id="leaderboard">
        <div *ngIf="allWiners.length >= 1" class="ribbon-I"></div>
        <div *ngIf="allWiners.length >= 2" class="ribbon-II"></div>
        <div *ngIf="allWiners.length >= 3" class="ribbon-III"></div>
        <table >
            <tbody>
                <tr *ngFor="let row of allWiners; let i = index" [ngClass]="(i < 3)? 'win' : 'win-iv'">
                    <td class="number">{{i+1}}</td>
                    <td class="name">{{row?.name}} <div style="font-size: 10px;">{{row?.email}}</div>
                    </td>
                    <td class="name">{{row?.section}}</td>
                    <td class="number">{{row?.rollNumber}}</td>
                    <td class="points">
                        {{row?.hitCount}}
                        <img *ngIf="(i < 3)" class="gold-medal"
                            [src]="(i === 0)? '../../assets/Image/1st-prize_11173647.png': (i === 1)? '../../assets/Image/2nd-place_11173656.png': (i === 2)? '../../assets/Image/3rd-place_11173665.png':''"
                            alt="gold medal" />
                    </td>
                </tr>
                <tr>
                    
                </tr>
            </tbody>
        </table>
    </div>
    <div id="buttons">
        <button (click)="isExit()" class="exit">Exit</button>
    </div>
</main>