.box {
    width: 380px;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.708); */
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;

    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.box-II {
    width: 50%;
}

.box img {
    width: 100px;
    margin-top: -50px;
}

canvas {
    margin: 0;
    display: block;
    position: absolute;
    z-index: -1;
    pointer-events: none;
    background-color: black;
}

.winYou{
    overflow: hidden;
}



#leader_board{
    // border: 2px solid white;
    display: flex;
    justify-content: center ;
    margin-top: 50px;
    font-size: 20px;
}

#btnSpan{
    border: 1px solid white;
    color: white;
    padding: 8px;
    border-radius: 20px;
    display: block;
    width: 200px;
    display: flex;
    justify-content: center;
}


#btnSpan:hover{

    background-color: white;
    color: black;
    border: 1px solid black;

    cursor: pointer;


}